.container0{
    max-width: 400px;
    margin:50px auto;
    padding:20px;
    border:1px solid #ccc;
    border-radius:5px;
    text-align: center;
}
.container1{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.container label{
    width:100%;
    text-align: left;
}
.container1 input{
    width:100%;
    box-sizing: border-box;
    padding:10px;

}
button{
    width:100%;
    padding:10px;
    font-size:16px;
    background-color: #007bff;
    color:#ffff;
    border:none;
    cursor:pointer;
}
button:hover{
    background-color: #0056b3;
}